/* index.html styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* font of text */
    background-color: #0d1413;
}

.split-screen {
    display: flex;
    height: 100vh;
}

.left-pane {
    flex: 1;
    background-size: cover;
    color: #F7f7f7; /* Assuming a darker image for contrast */
}

.logo-container img {
    max-width: 80%; /* Limits the image width to 50% of its container's width */
    max-height: 100vh; /* Limits the image height to 50% of the viewport height */
    height: auto; /* Ensures the height scales in proportion to the width */
    display: block; /* Display block to remove bottom space/margin of the image */
    margin: 0 auto; /* Centers the image horizontally within its container */
}

.logo-container {
    padding: 50px; /* Adjust as needed */
}

.right-pane {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.promo-text {
    text-align: center; /* Center the text horizontally */
    margin-bottom: 20px; /* Provide some space between the promo text and the buttons */
}

.promo-text h1 {
    font-style: italic; /* Italicize the heading */
    margin-bottom: 10px; /* Small gap between the heading and the subheading */
    color: white;
}

.promo-text p {
    font-weight: bold; /* Bold the subheading */
    font-size: x-large;
    color: white;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%; /* Ensure it spans the full width of its parent container */
    color: #fff; /* Text color for 'or' */
    margin: 20px 0; /* Add some vertical space around the divider */
}

.divider .line {
    flex-grow: 1; /* Allow the lines to grow and fill the space */
    border: none;
    height: 1px;
    background-color: #fff; /* Line color */
    margin: 0 10px; /* Space between the lines and the 'or' text */
}

.divider .or {
    white-space: nowrap; /* Prevent 'or' from wrapping */
    padding: 0 10px; /* Space around 'or' for better separation */
}

.action-buttons button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid transparent; /* Adjust or remove based on your design */
    border-radius: 20px; /* Rounded buttons similar to Twitter */
    font-size: 16px;
    background-color: #F7f7f7; /* color: white */
    color: black;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* To center align items horizontally in the container */
    width: 25%; /* to ensure it spans the full width of its parent container */
    gap: 5px; /* To ddjust the space between elements as necessary */
}

.action-buttons button:hover {
    background-color: #0caf2d;
}

.form-container {
    color: white;
    text-align: center;
}

.form {
    display: none; /* Initially hidden */
}

input[type="email"], input[type="password"], input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 80%;
}

button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    width: 84%; /* Aligns with input field width */
    background-color: #0caf2d; /* Choose a visually appealing color */
    color: white;
}

button[type="submit"]:hover {
    background-color: #3cea61; /* color: white */
    color: black;
}

#backArrow {
    padding: 10px;
    font-size: 20px;
    color: #3cea61;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* User home styling  */
h1{
    text-align: center;
    color: gold;
}

h2 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #0d1413;
    padding: 5px 100px; /* Adjust based on your design */
    color: white;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.logo-container-nav img {
    max-width: 100%;  /*Adjust based on your logo size */
    height: auto;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 60px); /* Adjust based on the navbar height */
}

.achievements-pane, .surveys-pane, .leaderboard-pane {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #1e2a28;
    border-radius: 10px;
    color: #F7f7f7;
    display: flex;
    flex-direction: column;
}

.achievements-pane h2, .surveys-pane h2, .leaderboard-pane h2 {
    margin-bottom: 20px;
}

/* Adjust the following as necessary to match your design */
.achievements-pane, .leaderboard-pane {
    max-width: 20%;
}

.surveys-pane {
    flex-grow: 2;
}

/* confirmation or failure messages styling */
.success-class {
    color: green;
    background-color: #ebf9eb;
    border: 1px solid #b6e6b6;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.error-class {
    color: red;
    background-color: #f9ebeb;
    border: 1px solid #e6b6b6;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

/* acheivements styling  */
achievements-container {
    padding: 20px;
    color: #fff;
    background-color: #0d1413; /* Matching the theme from earlier */
}

.achievements-list {
    list-style-type: none; /* Removes the default list bullet points */
    padding: 0;
}

.achievement {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Space between achievements */
    background-color: #1e2a28; /* Slight contrast against container */
    padding: 10px;
    border-radius: 5px;
}

.achievement-icon {
    width: 50px; /* Fixed size for icons */
    margin-right: 20px; /* Space between icon and text */
}

.achievement-info h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.progress-bar {
    background-color: #ddd; /* Light grey background */
    border-radius: 20px; /* Rounded corners for the bar */
    overflow: hidden; /* Ensures inner bar stays within the border radius */
}

.progress {
    height: 20px; /* Fixed height for progress bar */
    background-color: #0caf2d; /* Green progress color */
    border-radius: 20px; /* Keep consistent with the container */
    width: 0%; /* Start with no progress; dynamically update this with JS or server-side rendering */
}

.unlocked-achievements, .locked-achievements {
    margin-bottom: 30px;
}

.unlocked-achievements h2, .locked-achievements h2 {
    color: #F7f7f7; /* Light color for headers */
}

.profile-container {
    color: white; /* Assuming a dark theme */
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; /* Adjust as needed */
    background-color: #1e2a28; /* Adjust to fit your theme */
    border-radius: 10px;
}

/* Responsive Web Design Styling  */
/* For phones (portrait) unless another @media rule below is fired */
@media only screen and (max-width: 500px) {
    .col-sm-00  {display: 		   none; }
    .col-sm-12 	{width: 		   100%; }
}

/* For medium screens (e.g. landscape phones and portrait tablets) */
@media only screen and (min-width: 501px) {
    .col-md-00  {display: 		   none; }
    .col-md-01  {width: 		  8.33%; }
    .col-md-02  {width: 		 16.66%; }
    .col-md-03  {width: 		 25.00%; }
    .col-md-04  {width: 		 33.33%; }
    .col-md-05  {width: 		 41.66%; }
    .col-md-06  {width: 		 50.00%; }
    .col-md-07  {width: 		 58.33%; }
    .col-md-08  {width: 		 66.66%; }
    .col-md-09  {width: 		 75.00%; }
    .col-md-10  {width: 		 83.33%; }
    .col-md-11  {width: 		 91.66%; }
    .col-md-12  {width: 		100.00%; }
}

/* For large screens or landscape tablets*/		
@media only screen and (min-width: 1024px) {
    .col-md-00  {display: 		initial; }
    .col-sm-00  {display:       initial; }
    .col-lg-01  {width: 		  8.33%; }
    .col-lg-02  {width: 		 16.66%; }
    .col-lg-03  {width: 		 25.00%; }
    .col-lg-04  {width: 		 33.33%; }
    .col-lg-05  {width: 		 41.66%; }
    .col-lg-06  {width: 		 50.00%; }
    .col-lg-07  {width: 		 58.33%; }
    .col-lg-08  {width: 		 66.66%; }
    .col-lg-09  {width: 		 75.00%; }
    .col-lg-10 	{width: 		 83.33%; }
    .col-lg-11 	{width: 		 91.66%; }
    .col-lg-12 	{width: 		100.00%; }
}
/* Profile Page */
.profileAttribute {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 120%;
    margin: 10px 0px;
    padding: 20px 0px;
    background-color: darkgrey;
    float: left;
}

.profileName {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 150%;
    margin: 10px 0px;
    padding: 20px 0px;
    background-color: seagreen;
}
/* Accounts Request page */
body {
    font-family: Arial, sans-serif;
}

button {
    margin: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.flagged {
    color: red;
}

#requestsList {
    margin-bottom: 20px;
}

/* admin home screen*/
.button {
    display: inline-block;
    background-color: transparent; /* Set background to transparent */
    color: white; /* Adjust text color as needed */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none; 
    border-radius: 5px; /* Rounded edges, adjust as needed */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #808080; /* Color on hover for visibility */
    color: #333; /* Text color on hover */
}


/* accounts request */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: white;
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white; 
}

p {
    color: white;
}

/* styling for point balance page*/
.link-button {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none; 
    border-radius: 5px; /* Rounded edges, adjust as needed */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link-button:hover {
    background-color: #808080; /* Color on hover for visibility */
    color: #333; /* Text color on hover */
}

/*styling logo on adminhomescreen*/
header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    height: 125px; /* Adjust based on your logo's size */
    margin-right: 20px; /* Adds some space between the logo and the title */
}

/* styling point_balance page*/
body {
    font-family: Arial, sans-serif;
}

#userList {
    list-style-type: none;
    padding: 0;
}

#userList li {
    margin-bottom: 10px;
}

button {
    margin: 10px 0;
    padding: 10px;
}

input, select {
    margin: 10px 5px;
    padding: 5px;
}


/* styling slider survey page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .survey-item {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type=range] {
    width: 100%;
    margin-bottom: 20px; /* Ensure space for tick marks */
  }
  
  .slider-ticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* Adjust depending on slider thumb size to align ticks */
  }
  
  .tick {
    position: relative;
    display: block;
  }

  
  /* styling for ranking survey */
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .survey-item {
    margin-bottom: 15px;
  }
  
  .survey-item label {
    display: block;
    margin-bottom: 5px;
  }
  
  .survey-item select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }

  #points-display {
    margin-top: 20px;
    font-size: 16px;
    color: #d54d7b; /* Just an example; adjust as needed */
}

/* admin edit user page styling */
body {
    font-family: Arial, sans-serif;
}

#searchBox {
    margin-bottom: 20px;
}

#userList {
    list-style-type: none;
    padding: 0;
}

#userList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* styling for matching company values game */
.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column {
    width: 45%;
}

.item {
    margin: 5px 0;
    padding: 10px;
    background-color: #474343;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

#result {
    margin-top: 20px;
}
